#btn-check {
	position: fixed;
	left: 44%;
	transform: translateX(-50%);
	bottom: 8%;
	z-index: 998;
}
#space-loading {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
}
#btn-showinfo {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 16%;
	z-index: 998;
}
#btn-showanother {
	opacity: 0.02; /* 透明度，这个按钮藏起来 */
	position: fixed;
	left: 70%;
	transform: translateX(-50%);
	z-index: 991;
	bottom: 24%;
}
#sliderScale {
	width: 300px;
	position: fixed;
	left: 80%;
	transform: translateX(-50%);
	z-index: 999;
	bottom: 16%;
}
#sliderRotate {
	width: 300px;
	position: fixed;
	left: 80%;
	transform: translateX(-50%);
	z-index: 991;
	bottom: 8%;
}
/* Navigation Bar */
#menu {
	position: fixed;
	left: 5%;
	transform: translateX(-50%);
	z-index: 992;
	top: 5%;
}
#settings {
	position: fixed;
	left: 10%;
	transform: translateX(-50%);
	z-index: 991;
	top: 5%;
}
#login {
	position: fixed;
	left: 15%;
	transform: translateX(-50%);
	z-index: 991;
	top: 5%;
}
#logo {
	position: fixed;
	right: 5%;
	transform: translateX(-50%);
	z-index: 991;
	top: 5%;
	width: 10%;
	height: 10%;
}
.menu-text {
	font-family: Georgia;
	color: #262161;
}
/* Start Box */
#title-large {
	/* top: 158px;
	left: 50%;
	width: 594px;
	height: 45px; */
	/* transform: translateX(50%); */
	/* position: absolute; */
	position: absolute;
	top: 158px;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.95;
	font-family: Georgia;
	font-size: 32px;
	color: #ffffff;
	text-decoration: none solid rgb(255, 255, 255);
	text-align: center;
	text-shadow: 0px 1px 100px rgba(227,7,19,0.2);
}
#centrepanel {
	width: 737px;
	height: 401px;
	border-radius: 23px;
	background-color: #ebebeb;
	background-position: center center;
	position: absolute;
	top: 400px;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 990;
	/* background-repeat: no-repeat; */
	/* background-size: cover; */
}
#startbar {
	width: 737px;
	height: 141px;
	opacity: 0.84;
	position: absolute;
	top: 330px;
	left: 50%;
	transform: translate(-50%, -50%);
	border-bottom-right-radius: 23px;
	border-bottom-left-radius: 23px;
	background-color: #262161;
	z-index: 991;
}
.panelbackground {
	top: 192px;
	left: 50%;
	width: 737px;
	height: 399px;
	border-radius: 23px !important;
	background-position: center center;
	position: absolute;
	margin-top: 7px;
	opacity: 75%;
	transform: translate(-50%, -50%);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 989;
}
.introduction {
	font-family: Georgia;
	font-size: 20px;
	color: #ffffff;
	margin: 18px 40px 20px;
	/* text-align: center; */
	line-height: 25px;
	z-index: 990;
}
.pannelbar-left {
	margin-left: 20px;
}
.text-white {
	font-family: Georgia;
	color: #ffffff;
	text-decoration: none solid rgb(255, 255, 255);
}
.copyright-br {
	margin-top: 15px;
	margin-left: 40px;
	font-size: 10px;
}
.topper-zindex {
	z-index: 979;
}
#btn-start {
	font-family: Georgia;
	font-size: 24px;
	color: #ffffff;
	text-decoration: none solid rgb(255, 255, 255);
	line-height: 25px;
	text-transform: uppercase;
	text-align: center;
	z-index: 999;
}
#btn-learnmore {
	font-family: Georgia;
	font-size: 24px;
	color: #ffffff;
	text-decoration: none solid rgb(255, 255, 255);
	line-height: 25px;
	text-transform: uppercase;
	z-index: 999;
}
/* Navigator */
#title-menu {
	/* top: 158px;
	left: 50%;
	width: 594px;
	height: 45px; */
	/* transform: translateX(50%); */
	/* position: absolute; */
	position: absolute;
	top: 158px;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.95;
	font-family: Georgia;
	font-size: 32px;
	color: #ffffff;
	text-decoration: none solid rgb(255, 255, 255);
	text-align: center;
	text-shadow: 0px 1px 100px rgba(227,7,19,0.2);
}
/* Collection */
#card-collaward {
	width: 401px;
	height: 500px;
	border-radius: 23px;
	background-color: #ebebeb;
	background-position: center center;
	position: absolute;
	top: 400px;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 990;
	opacity: 0.95;
	/* background-repeat: no-repeat; */
	/* background-size: cover; */
}
#card-close {
	/* background-position: center center; */
	position: absolute;
	top: 157px;
	left: 63%;
	z-index: 991;
	/* background-repeat: no-repeat; */
	/* background-size: cover; */
}
#collection-close {
	/* background-position: center center; */
	position: absolute;
	top: 48px;
	left: 93%;
	z-index: 991;
	/* background-repeat: no-repeat; */
	/* background-size: cover; */
}
#btn-checkreward {
	position: absolute;
    top: 225px;
    left: 78%;
    z-index: 991;
    font-family: Georgia;
    font-weight: 800;
    color: #262161;
}
#bar-question {
	position: absolute;
	top: 157px;
	left: 5%;
	z-index: 990;
	opacity: 0.7;
	border-radius: 15px;
}
#bar-target {
	position: absolute;
	top: 120px;
	left: 70%;
	z-index: 980;
}
#card-targetaward {
	width: 401px;
	height: 200px;
	border-radius: 23px;
	background-position: center center;
	position: absolute;
	top: 116px;
	left: 76%;
	transform: translate(-50%, -50%);
	z-index: 990;
	opacity: 0.95;
	display: inline-block;
	background: none;
	/* background-repeat: no-repeat; */
	/* background-size: cover; */
}
#card-decal {
	width: 128px;
	/* height: 200px; */
	border-radius: 23px;
	background-position: center center;
	position: absolute;
	top: 89px;
	left: 85.5%;
	transform: translate(-50%, -50%);
	z-index: 991;
	opacity: 0.95;
	display: inline-block;
	background: none;
	/* background-repeat: no-repeat; */
	/* background-size: cover; */
}
#text-decal {
	width: 300px;
    text-align: center;
    background-position: center center;
    position: absolute;
    top: 197px;
    left: 85.5%;
    transform: translate(-50%, -50%);
    z-index: 991;
    opacity: 0.98;
}
/* Other (deprecated) */
